<html>
  <body>
    Dear {{Name}},

    <p>
      On behalf of the Thailand Materials Research Society (MRS-Thailand), in
      partnership with the International Union of Materials Research Societies
      (IUMRS), we are pleased to invite you as a Session Chair for the Symposium
      {{Num}}: {{Symposia}} at our upcoming conference, the International Union
      of Materials Research Societies– the 19th International Conference on
      Electronic Materials (IUMRS-ICEM2026) to be held during June 28 – July 1,
      2026 at Convention Center, the Empress Hotel, Chiang Mai, Thailand. For
      more conference details, please visit the conference website:
      https://www.iumrs-icem2026.org.
    </p>
    <p>
      We trust that your contributions and recognized expertise in the field
      would greatly enhance the scientific quality of the conference. As a
      Symposium Chair, your role may include reviewing the abstracts, organizing
      the session schedule, moderating the oral presentations and facilitating
      the discussion, including poster sessions, and reviewing/managing related
      full manuscripts for publications. We would be deeply honored by your
      participation and support in this important role.
    </p>
    <p>
      Regarding your trip, the organizing committee is pleased to offer support
      for the hotel accommodation for up to 3 nights (June 28 – July 1, 2026) at
      the conference hotel. Your registration fee will be waived. We warmly
      encourage you to bring your students and members of your research team to
      attend and contribute to the conference. Please also kindly extend this
      invitation and share conference information to colleagues. We sincerely
      hope you will be able to join us and contribute to the success of
      IUMRS-ICEM 2026. We kindly request that you provide your accommodation and
      participation information by completing Confirmation Form
      https://forms.gle/tsNWLsq4bQaCD29Z7 and proceed with registration via the
      conference website to assist us with administrative and program
      arrangements. Should you have any questions or require further
      information, please do not hesitate to contact us via email:
      iumrs.icem2026.thailand@gmail.com.
    </p>

    <p>Best regards,</p>
    <p>
      Prof. Dr. Santi Maensiri President, Materials Research Society of Thailand
      <br />
      & Chairman for IUMRS-ICEM 2026 Organizing Committee
    </p>
  </body>
</html>
