<html>
  <body>
    <b>Dear {{Name}}, </b>

    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;On behalf of the Thailand Materials Research
      Society (MRS-Thailand), in partnership with the International Union of
      Materials Research Societies (IUMRS), we are pleased to invite you as a
      <b>Session Chair</b> for the <b>Symposium {{Num}}: {{Symposia}}</b> at our
      upcoming conference,
      <b
        >the International Union of Materials Research Societies– the 19th
        International Conference on Electronic Materials (IUMRS-ICEM2026)</b
      >
      to be held during <b>June 28 – July 1, 2026</b> at Convention Center, the
      Empress Hotel, Chiang Mai, Thailand. For more conference details, please
      visit the conference website:
      <a href="https://www.iumrs-icem2026.org">https://www.iumrs-icem2026.org</a
      >.
    </p>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;We trust that your contributions and recognized
      expertise in the field would greatly enhance the scientific quality of the
      conference. As a Symposium Chair, your role may include reviewing the
      abstracts, organizing the session schedule, moderating the oral
      presentations and facilitating the discussion, including poster sessions,
      and reviewing/managing related full manuscripts for publications. We would
      be deeply honored by your participation and support in this important
      role.
    </p>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;Regarding your trip, the organizing committee is
      pleased to offer
      <b
        >support for the hotel accommodation for up to 3 nights (June 28 – July
        1, 2026)</b
      >
      at the conference hotel. Your registration fee will be waived. We warmly
      encourage you to bring your students and members of your research team to
      attend and contribute to the conference. Please also kindly extend this
      invitation and share conference information to colleagues. We sincerely
      hope you will be able to join us and contribute to the success of
      IUMRS-ICEM 2026. We kindly request that you provide your accommodation and
      participation information by completing Confirmation Form
      <a href="https://forms.gle/tsNWLsq4bQaCD29Z7"
        >https://forms.gle/tsNWLsq4bQaCD29Z7</a
      >
      and proceed with registration via the conference website to assist us with
      administrative and program arrangements. Should you have any questions or
      require further information, please do not hesitate to contact us via
      email:
      <a href="mailto:iumrs.icem2026.thailand@gmail.com"
        >iumrs.icem2026.thailand@gmail.com</a
      >.
    </p>

    <p>Best regards,</p>
    <p>
      Prof. Dr. Santi Maensiri President, Materials Research Society of Thailand
      <br />
      & Chairman for IUMRS-ICEM 2026 Organizing Committee
    </p>
  </body>
</html>
